body{
   // background: teal;
   // padding-top: 100px;
}
.container{
    max-width: 375px;
    margin: 0 auto;
    padding: 0 10px;
 @media(min-width: 768px){
    max-width: 748px;
 } 
 @media(min-width: 1440px){
    max-width: 1230px;
 } 
}