.contact-news-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 9.839080810546875px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  @media(min-width: 768px){
    padding: 48px 40px 76px 40px;
  }
  @media(min-width: 768px){
    flex-direction: row;
  }
  &__wrap-img {
    width: 153px;
    height: 153px;
    margin-bottom: 10px;
    @media(min-width: 768px){
        flex: 0 0 223px;
        height: 223px;
      }
  }
  &__wrap-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    @media(min-width: 768px){
  }

  &__cotent {
    @media(min-width: 768px){
        margin-left: 30px;;
      }
  }

  &__title {
    font-family: Nunito;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    background: linear-gradient(91deg, #3ca0d2 0%, #48dca6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 0 auto;
    max-width: 260px;
    margin-bottom: 17px;
    @media(min-width: 768px){
        max-width: 504px;
        font-size: 35px;
        line-height: 42px;
        text-align: left;
      }
  }

  &__text {
    color: #000;
    font-family: Jost;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    max-width: 260px;
    margin-bottom: 37px;
    @media(min-width: 768px){
        max-width: 523px;
        font-size: 20px;
        margin-bottom: 25px;
        text-align: left;
      }
  }

  &__btn {
    width: 100%;
    height: 51px;
    color: #FFF;
    font-family: Jost;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 500;
    background: linear-gradient(91deg, #d1cb28 0%, #48dca6 100%);
    position: relative;
    overflow: hidden;
  }
  &__btn span {
    position: relative;
    z-index: 1;
  }
  &__btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#48dca6 4.89%,#3ca0d2 95.57%);
    transition: all .5s ease;
    opacity: 0; 
  }
  &__btn:hover::before{
    opacity: 1;
  }
}
