.sidebar-filtr {
  &.open &__list {
    display: block;
  }
  &.open &__title::before {
    transform: translate(0%, -50%) rotate(180deg);
  }
  &__title {
    color: #454545;
    font-family: Jost;
    font-size: 19px;
    position: relative;
    padding: 20px 0;
    @media (min-width: 768px) {
      font-size: 30px;
      font-weight: 600;
      line-height: normal;
    }
    @media (min-width: 1440px){
        max-width: 220px;;
    }
  }
  &__title::before {
    content: "";
    background-image: url(../img/base/arrow-bottom.svg);
    width: 17px;
    height: 9px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
    transition: all 0.5s ease;
    @media (min-width: 1440px){
       display: none;
    }
  }

  &__list {
    display: none;
    position: relative;
    padding: 15px 0;
    @media (min-width: 1440px){
        display: block;
     }
  }

  &__list::before {
    content: "";
    background: linear-gradient(117.41deg, #3ca0d2 11.27%, #48dca6 67.35%);
    height: 1px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__list::after {
    content: "";
    background: linear-gradient(117.41deg, #3ca0d2 11.27%, #48dca6 67.35%);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__list li {
    margin: 0 0 9px 0;
    color: #363636;
    font-family: Jost;
    font-size: 19px;
    font-weight: 300;
    
  }
  &__list li.sidebar-filtr__current {
    display: inline-flex;
    font-family: Jost;
    font-size: 19px;
    font-weight: 600;
    background: linear-gradient(132deg, #3ca0d2 0%, #48dca6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
  }
  &__current::after {
    content: "";
    background: linear-gradient(117.41deg, #3ca0d2 11.27%, #48dca6 67.35%);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -3px;
  }
}
